/* Pon tu código css aqui */
body {
	padding:0;
	margin: 0;
}

.rojo {
	width: 200px;
	height: 200px;
	background-color: #ee3e64;
	position: static;
}

.azul {
    width: 200px;
	height: 200px;
	background-color: #44accf;
	position: static;	
}

.verde {
	width: 200px;
	height: 200px;
	background-color: #b7d84b;
	position: static;
}